*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background: rgb(238,245,29);
  background: linear-gradient(90deg, rgba(238,245,29,1) 0%, rgba(231,150,15,1) 16%, rgba(241,30,9,1) 100%);
}

.all{
  display: flex;
  justify-content: center;
  padding: 15%;
}

.box{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding: 100px;
}

button{
  margin: 5px;
  padding: 3px;
}